:root {
    --section-bg-color: #F5F5F7;
    --font-family: "Quicksand", sans-serif;
    --btn-bg-color:#0077ED;
    --text-color: #1D1D1F;
    --p-dispo-txt-color: #6e6e73;
    --figcaption-color:  -webkit-linear-gradient(left, #2288F8,#C75ADA ,red);
    --title-fnt-weight:700;
    --sub-txt-size:.8em;

    --footer-p-size:.75em;
    --main-p-font-weight:
}
*,
body {
    max-width: 100vw; /* Empêche le dépassement de la largeur du viewport */
   margin: 0;
    font-family: var(--font-family);
    font-weight: 500;
    letter-spacing: -0.2px;
}

.navbar,
#collapseNavItem 
{
    background: var(--section-bg-color);
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%; /* La barre occupe toute la largeur */
    backdrop-filter: blur(10px);
    height: 4.5vh;
    display: flex; /* Utilise Flexbox */
    align-items: center; /* Alignement vertical */
    justify-content: space-between; /* Sépare #home et les nav-items */
    padding: 1em ; /* Ajoute des marges internes à gauche et à droite */
    box-sizing: border-box; /* Inclut le padding dans le calcul de la largeur */
}

#home {
    margin: 0;
    flex: 0 ; 
}

.nav-items {
    display: flex; /* Aligne les icônes horizontalement */
    gap: 1rem; /* Espacement entre les icônes */
    justify-content: flex-end; /* Place les icônes à droite */
    flex: 1; /* Permet aux icônes de s'adapter à l'espace restant */
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Aligne les éléments dans une ligne */
}

.navbar li {
    margin: 0 0.5rem; /* Ajoute un espacement entre les icônes */
}

.navbar a {
    color: #000;
    text-decoration: none;
}


.homepage{
    margin-top: 4vh;
}
h2{
    font-weight: var(--title-fnt-weight);
}
h3 {
    font-weight: var(--title-fnt-weight);
    font-size: 2em;
}
.dispo {
    color: #6e6e73;
    font-size: var(--sub-txt-size);
}

figcaption{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(left, #2288F8,#C75ADA ,red);
    font-weight: 600;
    font-size: var( --sub-txt-size);
}

main section {
    /* background-color:var(--section-bg-color); */
    /* height: 50vh; */
    height: 40vh; /* Hauteur totale de la section */
    text-align: center;
    padding-top: .9em;
    padding-bottom:.9em;
    margin-bottom: .5em;
}
.finance {
    font-size: .8em;
    background-color: #F0F0F0;
    height: 20%;

}
.presMacbook {
    margin-top: -1vh;
    height: 40%; /*Hauteur totale de la section*/
    background-repeat: no-repeat; /* Évite de répéter l'image */
    background-size: cover; /* L'image couvre toute la figure sans distorsion */
    background-position: center; /* Centre l'image */
    background-image: url("../images/macbook_air.jpg"); /* Chemin vers l'image */
    margin: 0; /* Supprime les marges par défaut */
}
.presIpadAir #buyBtn{
    background-color: #b5dfef;
}
.presIpadAir {
    height: 40%; /*Hauteur totale de la section*/

    background-repeat: no-repeat; /* Évite de répéter l'image */
    background-size: cover; /* L'image couvre toute la figure sans distorsion */
    background-position: center; /* Centre l'image */
    background-image: url("../images/iPad-air.jpg"); /* Chemin vers l'image */
    margin: 0; /* Supprime les marges par défaut */
}
.presMacstudio{
    background-image: linear-gradient(#F5F5F7,#F5F5F7 );
    margin-top: .9em;
}
.presMacbook figcaption,
.presIpadAir figcaption{
    padding-top: 50%;
}

.presMacstudio figcaption{
    padding-top: 10%;

}
.iPadAirLogo{
    width: 1.4em;
}

.presIPad,
.presIPhone{
    background-color: #F5F5F7;
}

.presTradeIn{
    background-repeat: no-repeat; /* Évite de répéter l'image */
    background-size: cover; /* L'image couvre toute la figure sans distorsion */
    background-position: center; /* Centre l'image */
    background-image: url("../images/trade_in.jpg"); /* Chemin vers l'image */
    margin: 0; /* Supprime les marges par défaut */
}
.presAppleInt{
    background-repeat: no-repeat; /* Évite de répéter l'image */
    background-size: cover; /* L'image couvre toute la figure sans distorsion */
    background-position: center; /* Centre l'image */
    background-image: url("../images/Ai.jpg"); /* Chemin vers l'image */
    margin: .9em 0 ; /* Supprime les marges par défaut */
}
.presWatch
 {
    margin-top: 2em;
    padding-bottom: 6em;
    background-repeat: no-repeat; /* Évite de répéter l'image */
    background-size: cover; /* L'image couvre toute la figure sans distorsion */
    background-position: center; /* Centre l'image */
    background-image: url("../images/watch.jpg"); /* Chemin vers l'image */
    margin: 0; /* Supprime les marges par défaut */
}
.presWatch h3{

    line-height: 12%;
}
.presWatch span {
    font-size: .5em;
    text-align: center;
}
img{
    width: 25%;
}
.presAirPods {
    height: 60vh; /* Hauteur totale de la section */

    color: white;
    /* padding-bottom: 6em; */
    background-repeat: no-repeat; /* Évite de répéter l'image */
    background-size: cover; /* L'image couvre toute la figure sans distorsion */
    background-position: center; /* Centre l'image */
    background-image: url("../images/air_pods.jpg"); /* Chemin vers l'image */
    margin: 0; /* Supprime les marges par défaut */
}
.presAirPods h3 {
padding-top: 60%;
}
.presAirPods #buyBtn {
background-color: #000;
}
button{
    display: inline-flex;
    align-items: center;
    text-align: center;
    padding: 0.5em 1em;
    height: 2.2em;
    border-radius: 25px;
    margin: auto;
    margin-top: .9em;
    margin-bottom:.9em;
}
#moreInfoBtn {
    background-color: var(--btn-bg-color);
    color: white;
    border: none;
}
#buyBtn {
    background-color: var(--section-bg-color);
    color: #0077ED;
    border: #0077ED solid 1px;
}
#buyBtn:hover {
    background-color: var(--btn-bg-color);
    color: white;
}
#estimation{
    background-color: var(--btn-bg-color);
    color: white;

}
p {
    margin: auto;
    width: 80vw;
    padding: .4em;
}
#buyLink{
    color: #0077ED;
}

#financialCondition:hover{
    color: #0077ED;

}
footer{
    background-color: #F5F5F7;
    color: rgba(0, 0, 0, 0.56);
    margin: 0;
    padding: 0;
}
footer h2 {
    text-align: center;
    font-size: .9em;
    padding: 4em;
}
footer .generalCondition {
    margin-bottom: 1em;
}
footer p{
    font-size: .75em;
    color: rgba(0, 0, 0, 0.56);
    text-align: start;
    margin: auto;
    padding: 0;
    width: 90vw;
}
footer a {
    color: var(--p-dispo-txt-color);
    font-weight: 600;
}
footer button {
    width: 100%;
    margin-right: 0;
    display: flex;
    border:none ;
    border-top: .5px black solid;
    border-radius: 0;
    color: var(--p-dispo-txt-color);
    background-color: #F5F5F7;
    justify-content:space-between;
    margin: auto;
    width: 95%;
    font-weight: 700;
}
footer nav{
    width: 100%;
    margin: 0;
}
footer nav li{
    list-style: none;
  
}
footer .linkBuy{
    
    font-size: 1em;
}
footer .linkBuy a{
    font-size: 1em;
    color: var(--btn-bg-color);
    font-weight: 400;
}
.country{
    margin: 2em auto;
}
.legal_notice{
    list-style: none;
    font-size: .8em;
    margin-bottom: 1em;
    margin-top: 1em;

}
.legal_notice li {
    display: inline;
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    border-left: 1px black solid;
}
@media (min-width: 768px) { 
    .navbar{
        background-color: purple;
    }
 } 
